@use './base' as *;

.service {

    background-image: url(/assets/img/ser-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__container {
        display: flex;
        flex-wrap: wrap;
        padding: 5rem 0;
    }

    &__content--left {
        max-width: 50%;

        @media screen and (max-width: 700px) {
            max-width: 100%;
        }
    }

    &__content--right {
        max-width: 50%;

        @media screen and (max-width: 900px) {
            max-width: 0%;
        }
    }

    &__text {
        font-family: $title-font;
        font-size: 3.2rem;
        color: var(--color-primary);
        text-transform: uppercase;
    }

    &__brief {
        font-family: $body-font;
        font-size: 1.6rem;
        color: var(--color-text-dark);
        padding: 1rem 0rem;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: .5rem;
        flex-wrap: wrap;
        padding: 3rem 0;
    }

    &__item {

        flex: 0 0 40%;

        &--heading {
            font-family: $title-font;
            font-size: 1.8rem;
            color: var(--color-text-dark);
            text-transform: capitalize;
            padding: 1rem 0;
        }

        &--details {
            font-family: $body-font;
            font-size: 1.6rem;
            color: var(--color-text-light);
            padding: 1rem 0;
        }
    }

}