@use "./base" as *;

.footer {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        flex-wrap: wrap;
    }

    &__text {
        font-family: $title-font;
        font-size: 1.8rem;
        color: var(--color-small-text);
        padding: 1rem 1rem;
    }

    &__link {

        padding: 1rem 1rem;
    
        &--item {
            background: var(--color-primary-dark);
            padding: 1rem 1.3rem;
            color: var(--color-heading-white);
            text-decoration: none;
            font-size: 2rem;
            border-radius: 0.5rem;
            margin-left: 5px;
        }
    
    }
}