@use "./base" as *;

.hero {

    background-image: url('/assets/img/bennar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;

    @media screen and (max-width: 699px) {
        height: 70vh;
    }    

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    &__text {
        font-size: 10rem;
        font-weight: 400;
        font-family: $title-font;
        margin-top: 20rem;
        color: #fff;

        @media screen and (max-width: 699px) {
            font-size: 8rem;
            margin-top: 15rem;
        }
    }

    &__subtext {
        font-size: 2rem;
        font-family: $body-font;
        color: #fff;
        border-top: 2px solid var(--color-primary-dark);
        margin-top: 5rem;
        padding: 3rem 3rem;


        @media screen and (max-width: 699px) {
            padding: 1rem 1rem;
        }
    }

    &__btn {
        border: 1px solid var(--color-primary-dark);
        margin-top: 5rem;
        transition: all .5s;
    }

    &__btn:hover,
    &__btn:focus {
        background-color: var(--color-primary-dark);
        color: #fff;
    }

    .arrow-down {
        font-size: 1.6rem;
        color: #fff;
        margin-top: 10rem;
        animation: moveArrowDown 2s infinite;
    }
}
